.container {
    display: flex;
    align-items: center;
  }
  
  .button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .thumbIcon {
    font-size: 24px;
  }
  
  .liked {
    color: blue;
  }
  
  .likeCount {
    margin-left: 8px;
  }